common:
  seed: 7
  verbose: true
  exp_dir: experiments

dataset:
  batch_size: 64
  dataset: physiop300_dataset.PhysioP300Dataset
  num_workers: 4
  root_path:
    train: '/mnt/ssd/lingyus/erp-based-brain-computer-interface-recordings-1.0.0'
    val:
    test: 
  io_path:
    train: "/mnt/ssd/lingyus/tyee_physiop300/train"
    val:
    test: 
  io_mode: hdf5
  io_chunks: 512
  include_end: true
  split: 
    select: KFoldCross
    init_params:
      split_path: /mnt/ssd/lingyus/tyee_physiop300/split
      group_by: subject_id
      n_splits: 9
      shuffle: false

  
  offline_signal_transform:
    - select: Compose
      transforms:
        - select: PickChannels
          channels: ['FP1', 'AF7', 'AF3', 'F1', 'F3', 'F5', 'F7', 'FT7', 'FC5', 'FC3', 'FC1', 'C1', 'C3', 'C5', 'T7', 'TP7', 'CP5', 'CP3', 'CP1', 'P1', 'P3', 'P5', 'P7', 'P9', 'PO7', 'PO3', 'O1', 'IZ', 'OZ', 'POZ', 'PZ', 'CPZ', 'FPZ', 'FP2', 'AF8', 'AF4', 'AFZ', 'FZ', 'F2', 'F4', 'F6', 'F8', 'FT8', 'FC6', 'FC4', 'FC2', 'FCZ', 'CZ', 'C2', 'C4', 'C6', 'T8', 'TP8', 'CP6', 'CP4', 'CP2', 'P2', 'P4', 'P6', 'P8', 'P10', 'PO8', 'PO4', 'O2']
        - select: Baseline
          baseline_end: 1435
          axis: 1
        - select: Filter
          l_freq: 0
          h_freq: 120
          method: iir
        - select: Resample
          desired_freq: 256
          pad: edge
        - select: Scale
          scale_factor: 1e-3
      source: eeg
      target: eeg


lr_scheduler:
  select: OneCycleScheduler
  max_lr: 4e-4
  epochs: 100
  pct_start: 0.2

model:
  select: eegpt.linear_probe_EEGPT_PhysioP300.LitEEGPTCausal
  load_path: /home/lingyus/code/PRL/models/eegpt/checkpoint/eegpt_mcae_58chs_4s_large4E.ckpt

optimizer:
  lr: 4e-4
  select: AdamW
  weight_decay: 0.01             # 权重衰减 (L2正则化)

task:
  loss:
    select: CrossEntropyLoss
  select: base_task.BaseTask
  model:
    input_map: ['eeg']
  target_map: ['label']

trainer:
  resume:  # 添加断点恢复配置
      enabled: false
      checkpoint: /home/lingyus/code/PRL/experiments/2025-01-10/14-27-21/checkpoint/checkpoint_step_8488.pt
  fp16: true
  # total_steps: 31980
  total_epochs: 100
  update_interval: 1
  # save_interval: 1066
  # eval_interval: 1066
  log_interval: 20
  eval_metric:
    select: balanced_accuracy
    mode: max
  metrics: [balanced_accuracy, accuracy, f1_weighted, cohen_kappa, roc_auc]
    

distributed:
  backend: nccl
  world_size: 1
  distributed_no_spawn: false